{% ckan_extends %}

{# Remove 'free extras' from the package form, as we don't want to support
	them on our example. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-theme">{{ _("Theme") }}</label>
    <div class="controls">
      <select id="field-theme" name="theme" data-module="autocomplete">
        {% for theme in h.gcc_vocab()  %}
          <option value="{{ theme }}" {% if theme in data.get('theme', []) %}selected="selected"{% endif %}>{{ theme }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}
